


.formulario{
    background-color: coral;
}









.container{
    background-color: darkorange
}

aside{
    background-color: darkslategray;
}

h2{
    background-color: forestgreen;
    
}

p{
    background-color: gray;
    
}

footer{
    background-color: green;
}

header{
    background-color: green;
}